/* ////////////////////////////// */
/* SMALL LAPTOPS 1300PX */
/* ////////////////////////////// */

@media (max-width: 81.5em) {
  /* Hero */
  .title-container {
    transform: translate(-38%, -40%);
  }

  .hero-title {
    font-size: 4.5rem;
  }

  /* About section */
  .paragraph-about {
    font-size: 2.5rem;
    margin-bottom: 10rem;
  }

  .skills-title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  i {
    font-size: 5rem;
  }

  /* projects  */

  .subtitle-project {
    font-size: 4rem;
  }

  .description-project {
    font-size: 2.4rem;
    margin-bottom: 8rem;
  }

  .skills-project {
    padding: 2rem;
  }

  .view {
    font-size: 5rem;
    width: 5rem;
  }

  /* Contact Section */

  .form-flex-container {
    gap: 9rem;
  }

  .icon {
    font-size: 3.5rem;
    width: 3.5rem;
  }

  .link {
    font-size: 3.2rem;
  }
}
/* ////////////////////////////// */
/* LANDSCAPE TABLETS 1130PX  */
/* ////////////////////////////// */

@media (max-width: 70.62em) {
  /* Hero section */

  .nav-title {
    margin-left: 1rem;
    font-size: 3.5rem;
  }

  .link-nav {
    font-size: 3rem;
  }
  .link-nav:last-child {
    margin-right: 2rem;
  }

  .hero-title {
    font-size: 4.2rem;
  }
  .title-container {
    transform: translate(-45%, -80%);
    width: fit-content;
  }

  /* about section */

  .title-about {
    font-size: 4rem;
  }

  .about-about {
    font-size: 3.5rem;
  }

  .skills-about {
    max-width: none;
    grid-column: 1/3;
  }

  /* Projects section */

  .grid-project {
    column-gap: 5rem;
  }
  .description-project {
    font-size: 2.4rem;
  }

  .img-project {
    margin-top: 9rem;
  }

  .flex-skills-project {
    max-width: none;
    grid-column: 1/3;
  }

  .skills-project {
    padding: 3rem;
  }

  i {
    font-size: 5.5rem;
  }

  /* Contact Section */

  .contact-container {
    padding: 5rem;
  }

  .form-flex-container {
    gap: 5rem;
    flex-direction: column;
    margin: 5rem 0;
  }

  .contact-title {
    font-size: 4rem;
  }

  .contact-description {
    font-size: 2.3rem;
  }

  .my-link-container {
    padding: 5rem 3rem;
  }

  .icon {
    font-size: 4rem;
    width: 4rem;
  }

  .link {
    font-size: 3.2rem;
  }
}
/* ////////////////////////////// */
/* Portrait Tablets 900PX */
/* ////////////////////////////// */

@media (max-width: 57em) {
  /* Hero Secion */
  .nav-title {
    font-size: 3.2rem;
  }

  .link-nav {
    font-size: 2.7rem;
    margin-right: -2rem;
  }
  .title-container {
    transform: translate(-45%, -90%);
    left: 42%;
    top: 50%;
  }

  .hero-title {
    font-size: 4.3rem;
    text-align: right;
  }

  /* About section */

  .title-about {
    font-size: 3.5rem;
  }

  .dot {
    width: 2.8rem;
    margin-right: 3rem;
  }

  .about-about {
    font-size: 3.5rem;
  }

  .paragraph-about {
    font-size: 2.2rem;
  }

  /* Project Section*/

  .view {
    width: 4.5rem;
    font-size: 4.5rem;
  }

  .skills-title-project {
    margin-bottom: 4rem;
  }

  /* Contact Section */

  .form-flex-container {
    gap: 3rem;
    flex-direction: column;
    margin: 5rem 0;
  }

  .my-link-container {
    padding: 4rem 3rem;
  }

  .input {
    padding: 2rem;
  }
}

/* ////////////////////////////// */
/* Portrait Tablets 800PX */
/* ////////////////////////////// */

@media (max-width: 51.43em) {
  /* Hero Secion */
  .link-nav {
    margin-right: -4rem;
  }

  /* Mobile Nav */

  .icon-nav {
    display: block;
  }

  .icon[name="menu"] {
    display: block;
  }

  .nav {
    position: relative;
  }

  .link-container {
    background-color: rgba(64, 224, 208, 0.95);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    transform: translateX(100%);

    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    /* hide it visually */
    opacity: 0;

    /* make it unaccessible */
    pointer-events: none;

    /*hide it from screen readers   */
    visibility: hidden;
  }

  /* show mobile nav */
  .nav-open .link-container {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
  }

  .nav-open .icon[name="close"] {
    display: block;
    margin-right: -3.8rem;
  }

  .nav-open .icon[name="menu"] {
    display: none;
  }

  .link-nav {
    border-bottom: 5px solid white;
  }

  .link-nav:last-child {
    margin-right: -3.5rem;
  }

  /* about section */

  .container-about {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    -ms-grid-row-align: start;
  }

  .grid-about {
    grid-row: 1/2;
  }

  .paragraph-about {
    font-size: 2.4rem;
    line-height: 1.8;
    margin-top: 5rem;
    margin-bottom: 0;
  }

  .skills-about {
    max-width: 100%;
    grid-row: 2/3;
    margin-top: -20rem;
  }

  .about-img {
    width: 80%;
    margin-top: -40rem;
    margin-bottom: 10rem;
    padding: 0.5rem;
    grid-row: 3/4;
  }

  .dot {
    display: none;
  }

  /* Project section */

  .grid-project {
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
  }

  .description-container-project {
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 0;
  }
  .title-projects {
    margin-top: 2rem;
  }

  .subtitle-project {
    font-size: 5rem;
    margin: 1rem 0;
  }

  .grid-img-project {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-top: -10rem;
  }

  .flex-skills-project {
    grid-row: 3/4;
    grid-column: 1/2;
    margin: 0;
  }

  .skills-title-project {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  /* Contact Section */

  .form-flex-container {
    gap: 3rem;
    flex-direction: column;
    margin: 0;
  }

  .my-link-container {
    padding: 4rem 2rem;
  }

  .form-flex-container {
    gap: 3rem;
    padding: 2.8rem 2rem;
    flex-direction: column;
    margin: 5rem 0;
  }
}

/* SMALL TABLETS 700PX */

@media (max-width: 43.75em) {
  /* Hero section */

  .hero-title {
    font-size: 3.7rem;
  }

  /* about section */
  .two {
    margin-bottom: 20rem;
  }

  .title-about {
    font-size: 3rem;
  }

  .about-about {
    font-size: 3.5rem;
  }

  .paragraph-about {
    margin-top: 1rem;
    margin-bottom: 0rem;
    font-size: 2.2rem;
  }

  .about-img {
    margin-top: -40rem;
  }

  /* Project section */

  .subtitle-project {
    font-size: 4rem;
  }

  /* contact section  */

  .contact-title {
    font-size: 3.5rem;
  }

  .form-title {
    font-size: 3.5rem;
  }
}

/* Phones (500PX) */

@media (max-width: 34.37em) {
  /* Hero Section */

  .hero-title {
    font-size: 3.3rem;
  }

  /* about section */
  .two {
    margin-bottom: 0;
  }

  .about-about {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }

  .paragraph-about {
    font-size: 2.1rem;
  }

  .about-img {
    margin-top: -60rem;
  }

  .skills-title {
    font-size: 2.3rem;
    margin-bottom: 2rem;
  }

  i {
    font-size: 4.5rem;
    margin-right: 2rem;
  }

  /* Projects section */

  .subtitle-project {
    font-size: 3.5rem;
  }

  .description-project {
    font-size: 2.1rem;
  }

  /* Contact Section */

  .form-container {
    padding: 1rem;
  }

  .form-title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .contact-description {
    font-size: 2.1rem;
  }
}

/*Phones 470PX */

@media (max-width: 29.38em) {
  /* Hero section */
  .nav-title {
    font-size: 2.6rem;
  }

  /* about section */

  .two {
    margin-bottom: 0;
  }
  .about-img {
    display: none;
  }

  .title-about {
    font-size: 2.4rem;
  }

  .about-about {
    font-size: 2.8rem;
  }

  .paragraph-about {
    font-size: 2rem;
    line-height: 1.4;
  }

  .skills-title {
    font-size: 2.5rem;
  }

  .skills-about {
    max-width: 100%;
    height: max-content;
  }

  .grid-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
  }

  i {
    font-size: 4.5rem;
  }

  .devicon-nodejs-plain {
    grid-template-rows: 1/ 3;
    text-align: center;
  }

  /* project section */

  .title-about {
    font-size: 2.4rem;
  }

  .subtitle-project {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .description-project {
    font-size: 2rem;
    line-height: 1.4;
  }

  .img-project {
    max-width: 140%;
    margin-left: -5.5rem;
  }

  .view {
    margin-right: 2rem;
  }

  .skills-project {
    padding: 1rem;
    width: 100%;
  }

  .skills-title-project {
    font-size: 2.5rem;
  }

  /* Contact Section */

  .contact-title {
    font-size: 2.7rem;
  }

  .contact-description {
    font-size: 1.8rem;
    line-height: 1.3;
  }

  .link {
    font-size: 2.2rem;
    font-weight: 900;
  }

  .input {
    font-size: 2rem;
    padding: 1.2rem;
  }

  .send-btn {
    font-size: 2.5rem;
  }
}

/*  smaller Phones 390px */

@media (max-width: 24.45em) {
  /* All sections  */

  .two {
    margin-bottom: 70rem;
    background-color: aqua;
  }
  .three {
    margin-bottom: 70rem;
  }
  .four {
    margin-bottom: 70rem;
  }
  .five {
    margin-bottom: 70rem;
  }

  /* about section */

  .paragraph-about {
    font-size: 1.8rem;
  }

  /* projects Section */

  .description-project {
    font-size: 1.8rem;
  }

  /* contact Section */

  .link {
    font-size: 2rem;
  }

  .form-title {
    font-size: 2.5rem;
  }

  .input {
    font-size: 1.6rem;
    padding: 1rem;
  }
}
