* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth;  */
}

html {
  /* 10px / 16px = 0.625 = 62.5%  */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto Slab", serif;
  /* overflow: hidden; */
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.main-container {
  /* scroll-snap-type: y mandatory; */
  /* overflow-y: scroll; */
  height: 100vh;
  width: auto 0;
}

.hero-section {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.section {
  /* scroll-snap-align: start; */
  height: 100vh;
  width: 100%;
  margin: 0 auto;

  transition: transform 1s, opacity 1s; /* fade in animation */
}

.section-hidden {
  opacity: 0;
  transform: translateY(0rem);
}

.hero {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.3),
      rgba(34, 34, 34, 0.3)
    ),
    url(https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-size: cover;
  position: relative;

  height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
}

/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      */

.main-nav {
  background-color: rgba(64, 224, 208, 0.8);
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  position: relative;

  align-items: center;
  color: black;
  position: sticky;
}

.nav-title {
  font-size: 4rem;
  font-weight: 700;
  margin-left: 5rem;
}

.link-container {
  display: flex;
  gap: 10rem;
}

.link-nav {
  font-size: 3.5rem;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.link-nav:last-child {
  margin-right: 5rem;
}

/* Mobile Navigation */

.icon {
  display: none;
  cursor: pointer;
}

.icon-nav {
  display: none;
}

/* ///////////////// */
.flex-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 6rem;
  align-items: flex-end;
  border-bottom: 0.5rem solid rgba(64, 224, 208);
}

.title-container {
  text-align: center;
  width: max-content;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-38%, -95%);
}

.hero-title {
  position: relative;
  font-size: 5rem;
}

.hero-title::before,
.hero-title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero-title::before {
  background-color: rgb(64, 224, 208);
  animation: typewriter 2s ease forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

.hero-title::after {
  background-color: none;
}

/* Second section -----------------------------*/

.two {
  max-width: 150rem;
  margin: 0 auto 40rem auto;
  padding: 0 8rem;
}

.header {
  margin-bottom: 20rem;
}

.dot {
  width: 3.4rem;
  color: rgba(64, 224, 208);
  line-height: 2;
  margin-right: 4rem;
  cursor: pointer;
}

.about-section {
  max-width: 100vw;
}

.title-about {
  font-size: 5rem;
  margin-top: 20rem;
}

.container-about {
  margin: auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
  margin: 1rem 0;
}

.about-about {
  font-size: 4rem;
  margin-bottom: 5rem;
}
.paragraph-about {
  font-size: 2.6rem;
  line-height: 1.8;
  margin-top: 5rem;
  margin-bottom: 15rem;
}

.about-img {
  width: 110%;
  padding: 3.5rem;
}

.skills-title {
  font-size: 4rem;
  margin-bottom: 5rem;
  border-bottom: 0.5rem solid white;
  text-align: center;
}

.skills-about {
  max-width: 50%;
  grid-column: 1/3;
  text-align: center;
  padding: 2rem;
  background-color: rgba(64, 224, 208, 0.514);
}

i {
  font-size: 7rem;
  margin-right: 4rem;
  text-align: center;
  line-height: 4;
}

i:last-child {
  margin-right: 0;
}

/* Third section ------------------------------------- */

.three {
  max-width: 150rem;
  margin: 40rem auto;
  background-color: white;
  padding: 0 8rem;
}

.grid-project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr;
  column-gap: 10rem;
}

.title-projects {
  font-size: 6rem;
  margin-top: 5rem;
  padding: 3rem;
}

.subtitle-project {
  font-size: 5rem;
  margin: 5rem 0;
}

.description-container-project {
  grid-template-columns: 1/2;
  font-size: 2.6rem;
  line-height: 1.8;

  margin-bottom: 15rem;
}

.img-project {
  max-width: 100%;
  margin-right: 15rem;
  border-radius: 2rem;
  border: 0.3rem solid black;
  box-shadow: 0rem 2rem 3rem 0rem rgba(0, 0, 0, 0.582);
}

.grid-img-project {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 15rem;
}

.flex-skills-project {
  max-width: 100%;
  text-align: center;
}

.skills-title-project {
  font-size: 4rem;
  margin-bottom: 5rem;
  border-bottom: 0.5rem solid white;
  text-align: center;
}

.skills-project {
  background-color: rgba(64, 224, 208, 0.514);
  padding: 4rem;
}

.button-container {
  text-align: center;
  margin: 5rem 0;
  width: 100%;
}

.view {
  font-size: 6rem;
  width: 6rem;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.button {
  font-size: 3.6rem;
  background-color: rgba(64, 224, 208, 0.829);
  color: white;
  border: 0.2rem solid white;
  border-radius: 1rem;
  cursor: pointer;
}

/* Section 4 ------------- */

.four {
  /* height: 100vh; */
  max-width: 150rem;
  background-color: white;
  margin: 40rem auto;
  padding: 0 8rem;
}

.container-project-4 {
  margin-top: 5rem;
}

.subtitle-project-2 {
  font-size: 5.2rem;
  margin-top: 10rem;
  margin-bottom: 9rem;
}

/* Section five ------------ */

.five {
  /* height: 100vh; */
  max-width: 150rem;
  background-color: white;
  margin: 40rem auto 70rem;
  padding: 0 8rem;
}

.container-project-5 {
  margin-top: 5rem;
}

/* Section 6 contact page-------------- */

.six {
  background-color: white;
  margin: 50rem auto 0 auto;
  max-width: 150rem;
}

.contact-container {
  text-align: center;
  margin: 0 auto;
  padding: 10rem;
  border-bottom: 1rem solid white;
  background-color: rgba(64, 224, 208, 0.5);
}

.contact-title {
  font-size: 5rem;
  margin-bottom: 3rem;
  border-bottom: 0.3rem solid white;
}

.contact-description {
  font-size: 2.8rem;
  line-height: 1.3;
}

.form-flex-container {
  display: flex;
  justify-content: center;
  gap: 15rem;
  margin: 10rem 0;
}

.my-link-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6rem;
  padding: 10rem 5rem;
  height: 50%;
  border-radius: 2rem;
  border: 0.5rem solid rgba(64, 224, 208, 0.829);
}

.devicon-linkedin-plain {
  margin-left: -0rem;
}
.icon {
  font-size: 5rem;
  width: 5rem;
  margin-right: 3rem;
  align-self: center;
}

.link {
  font-size: 3.5rem;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline 8px solid rgb(64, 224, 208);
  transition: all 0.8s;
}
.form-container {
  background-color: rgba(64, 224, 208, 0.5);
  padding: 2.8rem 8rem;
  height: 50%;
  border-radius: 2rem;
  border: 0.1rem solid black;
  box-shadow: 0 2rem 3rem 0 rgba(0, 0, 0, 0.2);
}

.form-title {
  font-size: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input {
  font-size: 2.3rem;
  padding: 2.5rem;
  border-radius: 2rem;
  font-family: "Roboto Slab", serif;
  border: 0.1rem solid black;
}

.message {
  font-family: "Roboto Slab", serif;
}

.send-btn {
  font-size: 3rem;
  padding: 1rem;
  border-radius: 2rem;
  width: max-content;
  margin: 0 auto;
  background-color: white;
  font-weight: 700;
  cursor: pointer;
}
